
.keyboard {
    display: flex;
    
    align-items: center;
    width: 87%;
    margin: 8% 25%;
    padding: 10px;    
    
    
  }
  
  .textArea {
    min-height: 90px;   
    width: 80%;
    border: 2px solid #8399ac;
    border-radius: 5px;    
    text-align: center;   
  }